---
interface Props {
  title: string;
  date: string;
  link: string;
}

const { title, date, link } = Astro.props;
---

<div class="bg-white rounded-lg shadow-md overflow-hidden">
  <div class="p-4 h-full flex flex-col">
    <h2 class="text-xl font-semibold mb-2 line-clamp-2">{title}</h2>
    {date && <p class="text-gray-600 mb-2">{date}</p>}
    {
      link && (
        <a
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600 hover:underline"
        >
          Read More
        </a>
      )
    }
  </div>
</div>
